img {
    margin-left: 2rem;

    vertical-align: middle;

    border: 1px #ededf0 solid;
}

#options-title {
    padding: 0 0.8rem;

    font-weight: bold;
}

#save-options {
    margin-bottom: 0.5rem;
}

.options-frame-border {
    border: 1px solid #cccccc;
}